$bg: #FFFFFF;
$white: #FFFFFF;
$black: #000000;
$blue: #139DCE;
$pink: #EF4E79;
$gray: #EEEEEE;
$bg_gray: #F9F9F9;
$gray_white: #F8F8F8;
$footer: #736A6C;
$gray_pagination: #CCCCCC;
$gray: #EEEEEE;
$white_box: #F9F9F9;